body {
    background-color: antiquewhite;
    height: 100vh;
}

#app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
}

.tree {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 5px;
}

.men {
    width: 200px;
    height: 200px;
    background-color: rgb(128, 0, 0);
    margin: 5px;
}

@media (min-width: 500px) and (max-width: 904px) {
    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    } 
}

